<h1>Available Services for IP Interfaces</h1>

<table class='table table-striped'>
	<thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
