<h1><%= @service.name %></h1>
<br>
<p><b>Instances:</b> <%= @service.ip_interfaces.count %></p>


<%= link_to 'Edit', edit_service_path(@service), :class => 'btn btn-primary admin' %>
<%= link_to 'Delete', @service, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger admin' %>
<%= link_to 'Back', services_path, :class => 'btn' %>
