<%= simple_form_for(@node) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.association :requisition %>
    <%= f.input :name %>
    <%= f.input :foreign_reference %>
    <%= f.association :building %>
    <%= f.association :manufacturer %>
    <%= f.association :product %>
    <%= f.association :vendor %>
    <%= f.association :support_contract %>
		<%= f.association :node_categories %>
		<div id='ip_interfaces'>
			<%= f.simple_fields_for :ip_interfaces do |ip_interface| %>
				<%= render 'ip_interface_fields', :f => ip_interface %>
			<% end %>
		</div>
  </div>

  <div class="form-actions">
    <%= link_to_add_association 'Add Interface', f, :ip_interfaces, :class => 'btn btn-success' %> <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
