<%= paginate @nodes %>
<table class='table table-striped'>
	<thead>
  <tr>
    <th>Node</th>
		<th>Interfaces</th>
		<th>Services</th>
  </tr>
	</thead>
	<tbody>
	<% @nodes.each do |node| %>
	  <tr>
	    <td><%= link_to node.name, node %></td>
			<td><%= node.ip_interfaces.count %></td>
			<td><%= node.services.count %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Node', new_node_path, :class => 'btn btn-success admin' %>
