<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/">ProvisionM</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <ul class='nav'>
					<li><%= link_to 'Locations', buildings_path %></li>					
        	<li><%= link_to 'Manufacturers', manufacturers_path %></li>
					<li><%= link_to 'Vendors', vendors_path %></li>
					<li><%= link_to 'Nodes', nodes_path %></li>
					<li><%= link_to 'Requisitions', requisitions_path %></li>
					<li><%= link_to 'Node Categories', node_categories_path %></li>
					<li><%= link_to 'Services', services_path %></li>
        </ul>
				<ul class='nav pull-right'>
					<li class="divider-vertical"></li>
					<li><%= link_to 'Help', help_path %></li>
				</ul>
      </div>
 
    </div>
  </div>
</div>