<%= simple_form_for(@requisition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
		<%= f.input :non_ip_snmp_primary, :as => :select, :collection => ['Y', 'N'] %>
		<%= f.input :non_ip_interfaces, :as => :select, :collection => ['true', 'false'] %>
		<%= f.association :nodes, :as => :check_boxes, :collection => Node.where(:requisition_id => nil) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,  :class => "btn btn-primary" %>
  </div>
<% end %>
