<h1>Listing requisitions</h1>

<table class='table'>
	<thead>
  <tr>
    <th>Name</th>
		<th>Node Count</th>
		<th>Link to XML</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @requisitions.each do |requisition| %>
  <tr>
    <td><%= requisition.name %></td>
    <td><%= requisition.nodes.count %></td>
		<td><a href="/requisitions/<%= requisition.id %>.xml">XML</a></td>
    <td><%= link_to 'Show', requisition %></td>
    <td><%= link_to 'Edit', edit_requisition_path(requisition) %></td>
    <td><%= link_to 'Destroy', requisition, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Requisition', new_requisition_path %>
