<h1>Requisitions</h1>

<table class='table'>
	<thead>
  <tr>
    <th>Name</th>
		<th>Node Count</th>
		<th>Link to XML</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @requisitions.each do |requisition| %>
  <tr>
    <td><%= requisition.name %></td>
    <td><%= requisition.nodes.count %></td>
		<td><a href="/requisitions/<%= requisition.slug %>.xml">XML</a></td>
    <td><%= link_to 'Show', requisition, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_requisition_path(requisition), :class => 'btn btn-primary admin' %></td>
    <td><%= link_to 'Destroy', requisition, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger admin' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Requisition', new_requisition_path, :class => 'btn btn-success admin' %>
