<%= render 'shared/building_crumbs' %>
<br>
<address>
	<h1><%= @building.name %></h1>
	<%= @building.address1 %>
	<br>
	<% unless @building.address2.blank? %>
	<%= @building.address2 %>
	<br>
	<% end %>
	<%= @building.city %>,  <%= @building.state %> <%= @building.zip %>
</address>

Node Count: <%= @building.nodes.count %>

<br>
<br>

<% if @building.rooms.count > 0%>
<p>
	<b>Rack Capacity:</b>
	<%= @building.nodes.sum(:ru_size) %> / <%= @building.physical_racks.sum(:ru_size) %>
</p>
<h3>Rooms</h3>
<table class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Rack Count</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'room', :collection => @building.rooms %>
	</tbody>
</table>
<% end %>

<div class='row-fluid'>
	<%= link_to 'Edit', edit_building_path(@building), :class => 'btn btn-primary admin' %>
	<%= link_to 'Delete', @building, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger admin' %>
	<%= link_to 'Back', buildings_path, :class => 'btn' %>
</div>