<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @vendor.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @vendor.fax %>
</p>

<h3>Support Contracts</h3>
<table class='table'>
	<thead>
		<tr>
			<th>Contract Name</th>
			<th>Expires</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'support_contract', :collection => @vendor.support_contracts %>
	</tbody>
</table>
<%= link_to 'Edit', edit_vendor_path(@vendor), :class => 'btn btn-primary' %>
<%= link_to 'Back', vendors_path, :class => 'btn' %>
