<%= simple_form_for(@manufacturer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
		<h3>Products</h3>
		<div id='products'>
			<%= f.simple_fields_for :products do |product| %>
				<%= render "product_fields", :f => product %>
			<% end %>
		</div>
  </div>

  <div class="form-actions">
<%= link_to_add_association 'Add New Product', f, :products, :class => 'btn btn-success' %>
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
