<!DOCTYPE html>
<html lang="en">
<head>
  <title>Provisionm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<% if current_user %>
		<%= render 'shared/admin' %>
	<% end %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render 'shared/navbar' %>
	<div class='subnav subnav-fixed'>
		<ul class='nav nav-pills'>
			<% if controller.controller_name == 'nodes' %>
				<li class='active'><%= link_to 'Nodes', nodes_path %></li>
			<% else %>
				<li><%= link_to 'Nodes', nodes_path %></li>
			<% end %>
			<% if controller.controller_name == 'requisitions' %>
				<li class='active'><%= link_to 'Requisitions', requisitions_path %></li>
			<% else %>
				<li><%= link_to 'Requisitions', requisitions_path %></li>
			<% end %>
		</ul>
	</div>
<div class='container-fluid'>

	<% if notice %>
	<div class='alert alert-info'><%= notice %></div>
	<% end %>

	<% if alert %>
	<div class='alert alert-error'><%= alert %></div>
	<% end %>
	
	<%= yield %>
</div>
</body>
</html>
